<div class="form-panel" id="form-ethnicity-language">
        <div class="row">
            <div class="from-header-info"><strong>Tell us about your ethnicity and language spoken:</strong></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="single-input-checkbox">
                    <p class="toplabel">Select all that apply:</p>
                    <div id="ethnicityContainer"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="single-select">
                    <label>What is your primary language?</label>
                    <select name="language" class="form-control required"></select>
                </div>
            </div>
        </div>
    </div>