<!-- Voice Sample Recordings -->
<div class="multisteps-form__panel" data-animation="slideHorz">
    <div class="row">
        <div class="from-header-info">
            <span class="maintitle">Please provide the following voice samples:</span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="single-select">
                <label>SCENE 1: SOAP OPERA</label>
                <strong>The setting:</strong> Imagine you are in a soap opera and very angry.
                Speak the following line with melodramatic fury, emphasize "THREE" hours.
            </div>
        </div>
    </div>
    <div class="actions">
        <ul>
            <li><span class="js-btn-prev" title="BACK"><i class="bi bi-arrow-left"></i> BACK</span></li>
            <li><button type="submit" title="SUBMIT">SUBMIT <i class="bi bi-arrow-right"></i></button></li>
        </ul>
    </div>
</div>