<!-- Location Details -->
<div class="multisteps-form__panel" data-animation="slideHorz">
    <div class="row">
        <div class="from-header-info">
            <span class="maintitle">Tell us where you were born and live today:</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="single-select">
                <label>Native Country</label>
                <select name="native_country" class="form-control required"></select>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="single-select">
                <label> Native State/Province/Region</label>
                <select id="stateNativeSelect" class="form-control required"></select>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="single-select">
                <label>Current Country</label>
                <select name="current_country" class="form-control required"></select>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="single-select">
                <label> Current State/Province/Region</label>
                <select id="stateCurrentSelect" class="form-control required"></select>
            </div>
        </div>
    </div>
</div>