<!-- Voice Acting Experience -->
<div class="multisteps-form__panel" data-animation="slideHorz">
    <div class="row">
        <div class="from-header-info">
            <span class="maintitle">Tell us your voice acting experience:</span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="single-select">
                <label>Do you have a home recording studio?</label>
                <select name="recording_studio" class="form-control required">
                    <option value="">Select an option</option>
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>
                </select>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="single-input-checkbox">
                <p class="toplabel">Select all options below that apply to your previous experience as a voice actor:</p>
                <div class="row" id="experienceContainer"></div>
            </div>
        </div>
    </div>
</div>