<!-- Personal Information -->
<div class="multisteps-form__panel js-active" data-animation="slideHorz">
    <div class="row">
        <div class="from-header-info">
            <strong>Personal Information</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="single-input">
                <input type="text" name="first_name" class="form-control required" minlength="2"
                       placeholder="First Name *" required="">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="single-input">
                <input type="text" name="last_name" class="form-control required" minlength="3"
                       placeholder="Last Name *" required="">
            </div>
        </div>
        <div class="col-sm-12">
            <div class="single-input">
                <input type="email" name="email" class="form-control required"
                       placeholder="Email Address *" required="">
            </div>
        </div>
        <div class="col-sm-12">
            <div class="single-input-radio">
                <span>Gender</span>
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="single-radio">
                            <input type="radio" id="male" name="gender" value="male">
                            <label for="male">Male</label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="single-radio">
                            <input type="radio" id="female" name="gender" value="Female">
                            <label for="female">Female</label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="single-radio">
                            <input type="radio" id="custom" name="gender" value="Custom">
                            <label for="custom">Non-Binary</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>