<div class="form-panel" id="form-personal-info">
        <div class="row">
            <div class="from-header-info"><strong>Personal Information</strong></div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="single-input">
                    <input type="text" name="first_name" class="form-control required" placeholder="First Name *" required>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="single-input">
                    <input type="text" name="last_name" class="form-control required" placeholder="Last Name *" required>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="single-input">
                    <input type="email" name="email" class="form-control required" placeholder="Email Address *" required>
                </div>
            </div>
        </div>
    </div>