<div class="form-panel" id="form-voice-samples">
        <div class="row">
            <div class="from-header-info"><strong>Please provide the following voice samples:</strong></div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="single-select">
                    <label>Scene 1: SOAP OPERA</label>
                    <p>Imagine you are in a soap opera and very angry. Speak the following line with melodramatic fury.</p>
                    <p><strong>"Where were you, Isabelle? THREE hours late, with that lipstick smeared like a cheap romance novel!"</strong></p>
                </div>
            </div>
        </div>
    </div>