<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Voice Actor Portal</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-icons.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">

    <script defer data-domain="leigaray.github.io" src="https://analytics.tiiny.site/js/plausible.js"></script>
    <script src="js/jquery-3.6.1.min.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/dropdowns.js"></script>
    <script src="js/checkboxes.js"></script>
    <script src="js/main.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>
