<h1 class="mainheader">Voice Actor Audition Portal</h1>
<div class="steps clearfix">
    <ul class="tablist bforum-form__progress">
        <li class="bforum-form__progress-btn js-active current"><span>1</span></li>
        <li class="bforum-form__progress-btn"><span>2</span></li>
        <li class="bforum-form__progress-btn"><span>3</span></li>
        <li class="bforum-form__progress-btn"><span>4</span></li>
        <li class="bforum-form__progress-btn last"><span>5</span></li>
    </ul>
</div>
